@import "base";
@mixin userem($size){
  $list:800px,414px,412px,384px,375px,360px,320px;
  @each $i in $list{
    @media screen and (max-width:#{$i}){
      html{
        font-size:100px*($i/$size)
      }
    }
  }
}
@include userem(1080px);

.header{
  position: fixed;
  width:100%;
  height:1.43rem;
  background: #393a3f;
  z-index: 200;
  top:0;
  left:0;
  h1{
    font-size: 0.57rem;
    color:#fff;
    @include shangxia;
    position: absolute;
    left:0.44rem;
    line-height: 1.43rem;
  }
  .search{
    width: 0.58rem;
    height:0.58rem;
    @include shangxia;
    right:2.63rem;
    background: url(../img/search.gif) no-repeat;
    background-size:100%;
  }
  .plus{
    width:0.58rem;
    height:0.58rem;
    @include shangxia;
    right:0.73rem;
    background:url(../img/jia.png)no-repeat;
    background-size:100%;
  }
}
.content{
  position: fixed;
  top:1.43rem;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  background: #ccc;
  .content-inner{
    width:100%;
    background: #ccc;
    .item {
      width: 100%;
      background: #ccc;

      li{
        width:92.22%;
        margin: 0 auto;
        height:1.45rem;
        background: #fff;
        img{
          display: block;
          width:0.68rem ;
          height:0.68rem;
          @include shangxia;
          left:0.65rem;
          //background: url(../img/pengyouquan.png) no-repeat;
          background-size:100%;
        }
        .info{
          //background: red;
          width:7.02rem;
          height:1.45rem;
          float: left;
          position: absolute;
          left:1.88rem;
          //line-height: 1.9rem;
          p{

            font-size: 0.45rem;
            color:#353535;
            font-weight: bold;
            line-height: 1.45rem;
          }
          img {
            @include shangxia;
            left:1.20rem;
            width:1.46rem;
            height: 0.62rem;
            background: red;
          }


        }
        .right{
          width: 0.80rem;
          height:0.76rem;
          background: url(../img/youxiyou.png) no-repeat;
          background-size:100%;
          float: right;
          //background: red;
          @include shangxia ;
          right:0.70rem;

        }

      }

    }
    .item0 .l1 .pengyou{
      width:0.62rem;
      height:0.67rem;
      @include shangxia;
      right:0.72rem;
      //background: red;
      background: url(../img/1.png)no-repeat center center;
      background-size: 100%;
    }
    .item0 .l1 span{
      display: block;
      
      width: 0.30rem;
      height:0.30rem;
      //background:red;
      position: absolute;
      top:0.12rem;
      right:0.44rem;
      background: url(../img/yuandian.png);
      background-size: 100%;
      
    }
    li.l2, li.l4,li.l6{
      border-bottom: 1px solid #ccc;
    }
    .item0,.item1,.item2,.item3{
      margin-top: 0.6rem;
      background: #fff;
    }


}


}
.nav-bar{
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:1.62rem;
  background: #fff;
  .nav-list{
    width: 100%;
    height:1.62rem;
    border-top:0.01rem solid #ccc;

  }
  li {
    float: left;
    height: 100%;
    width: 25%;
    //background: blue;
    //border: 1px solid black;
    box-sizing: border-box;
    img{
      width:0.75rem;
      height:0.67rem;
      @include zuoyou;
      top:0.22rem;
      background: url(../img/weixin.png) no-repeat center center;
      background-size:100%;
    }
    p{
      @include zuoyou;
      bottom:0.20rem;
      //margin-top:0.44rem;
      font-size: 0.35rem;
      text-align: center;

      a{
        color:#b0b0b0;
      }


    }
    .zi{
      color:#45c01a;
    }
  }
}
